[Desktop Entry]
Name=Kubrick
Name[fa]=کوبریک
Name[te]=కుబ్రిక్
Name[x-test]=xxKubrickxx
Exec=kubrick
Icon=kubrick
Type=Application
Categories=Qt;KDE;Game;LogicGame;
GenericName=3-D Game based on Rubik's Cube
Comment=A 3-D game based on Rubik's Cube
Comment[el]=Ένα 3Δ παιχνίδι βασισμένο στον κύβο του Ρούμπικ
Comment[es]=Un juego 3D basado en el cubo de Rubik
Comment[fa]=یک بازی سه‌بعدی بر اساس بازی روبیک
Comment[ga]=Cluiche 3T, bunaithe ar Chiúb Rubik
Comment[ja]=Rubik's Cube を元にした 3-D ゲーム
Comment[km]=ល្បែង​ត្រីមាត្រ​មានមូលដ្ឋាន​លើ​គូប​របស់ Rubik
Comment[nds]=En 3D-Speel, dat op Rubik sien Wörpel opbuut
Comment[pt]=Um jogo 3-D baseado no Cubo Mágico de Rubik
Comment[pt_BR]=Um jogo 3-D baseado no Cubo Mágico de Rubik
Comment[sv]=Ett tredimensionellt spel baserat på Rubiks kub
Comment[uk]=Просторова гра, заснована на кубику Рубіка
Comment[x-test]=xxA 3-D game based on Rubik's Cubexx
Comment[zh_CN]=一个三维魔方游戏
Comment[zh_TW]=立體的魔術方塊遊戲
