[Desktop Entry]
Name=Kubrick
Exec=kubrick
Icon=kubrick
Type=Application
Categories=Qt;KDE;Game;LogicGame;
Comment=A 3-D game based on Rubik's Cube
Comment[ga]=Cluiche 3T, bunaithe ar Chiúb Rubik
Comment[pt_BR]=Um jogo 3-D baseado no Cubo Mágico de Rubik
